.mule/plugins-tmp/repository/7.19.0/com/ioconnectservices/mule/datadog-apm/3.0.0/mule-datadog-apm.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/datadog-apm" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:complexType name="com.ioconnectservices.mule.internal.parameters.InjectionType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:datadog-apm="http://www.mulesoft.org/schema/mule/datadog-apm" type="datadog-apm:com.ioconnectservices.mule.internal.parameters.InjectionType" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-injection-type"></xs:element>
  <xs:element xmlns:datadog-apm="http://www.mulesoft.org/schema/mule/datadog-apm" type="datadog-apm:com.ioconnectservices.mule.internal.parameters.InjectionType" abstract="true" name="abstract-injection-type"></xs:element>
  <xs:complexType name="com.ioconnectservices.mule.internal.parameters.OpenTracingInjection">
    <xs:complexContent>
      <xs:extension xmlns:datadog-apm="http://www.mulesoft.org/schema/mule/datadog-apm" base="datadog-apm:com.ioconnectservices.mule.internal.parameters.InjectionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="baggage-items">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="baggage-item">
                  <xs:complexType>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="traceId"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="parentId"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="samplingPriority"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionMap" use="optional" name="baggageItems"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:datadog-apm="http://www.mulesoft.org/schema/mule/datadog-apm" type="datadog-apm:com.ioconnectservices.mule.internal.parameters.OpenTracingInjection" substitutionGroup="datadog-apm:abstract-injection-type" abstract="true" name="abstract-open-tracing-injection"></xs:element>
  <xs:element xmlns:datadog-apm="http://www.mulesoft.org/schema/mule/datadog-apm" substitutionGroup="datadog-apm:abstract-open-tracing-injection" name="open-tracing-injection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="datadog-apm:com.ioconnectservices.mule.internal.parameters.OpenTracingInjection"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:pooling-profile"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="unnamed-java-app" name="service"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="environment"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="version"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/datadog-apm" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ActivateSpanType" substitutionGroup="mule:abstract-operator" name="activate-span">
    <xs:annotation>
      <xs:documentation>The Activate Span operation ensures to set the Active span in the context with the one the user passes</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ActivateSpanType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="spanName"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/datadog-apm" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CreateSpanType" substitutionGroup="mule:abstract-operator" name="create-span">
    <xs:annotation>
      <xs:documentation>The Create Span operation ensures the creation of a new span in the current context, as well as validates the span names to avoid duplicate errors</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CreateSpanType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="injection">
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:datadog-apm="http://www.mulesoft.org/schema/mule/datadog-apm" minOccurs="1" maxOccurs="1" ref="datadog-apm:abstract-injection-type"></xs:element>
                <xs:element xmlns:datadog-apm="http://www.mulesoft.org/schema/mule/datadog-apm" minOccurs="1" maxOccurs="1" ref="datadog-apm:global-abstract-injection-type"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="tags">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="tag">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="baggage-items">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="baggage-item">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="spanName"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="parent"></xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" default="false" name="autofinish"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="injection"></xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="tag"></xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="baggageItems"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="method"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="path"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/datadog-apm" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="FinishAllType" substitutionGroup="mule:abstract-operator" name="finish-all">
    <xs:annotation>
      <xs:documentation>The Finish Span operation ensures the finalization of the existing spans in the current context</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FinishAllType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/datadog-apm" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="FinishSpanType" substitutionGroup="mule:abstract-operator" name="finish-span">
    <xs:annotation>
      <xs:documentation>The Finish Span operation ensures the finalization of the existing spans in the current context</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FinishSpanType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="spanName"></xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="error"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="statusCode"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/datadog-apm" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="LogType" substitutionGroup="mule:abstract-operator" name="log">
    <xs:annotation>
      <xs:documentation>Logs the passed message with the passed level and category. If the given spanName can be found in the spans registry in the configuration, then the IConstants.DD_TRACE_ID and IConstants.DD_SPAN_ID is injected in the SLF4J's MDC context. If there's no span with the given name, then it just logs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LogType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="spanName">
          <xs:annotation>
            <xs:documentation>to retrieve the trace id to which this log will be associated in Datadog.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="message">
          <xs:annotation>
            <xs:documentation>the message to log.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/datadog-apm" type="com.ioconnectservices.mule.api.LoggerLevelEnumType" use="optional" default="INFO" name="level">
          <xs:annotation>
            <xs:documentation>the desired level of the log.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="category">
          <xs:annotation>
            <xs:documentation>used to log.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/datadog-apm" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="UpdateSpanType" substitutionGroup="mule:abstract-operator" name="update-span">
    <xs:annotation>
      <xs:documentation>The Create Span operation ensures the creation of a new span in the current context, as well as validates the span names to avoid duplicate errors</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UpdateSpanType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="tags">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="tag">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="baggage-items">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="baggage-item">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="spanName"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="tag"></xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="baggageItems"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="com.ioconnectservices.mule.api.LoggerLevelEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"></xs:enumeration>
          <xs:enumeration value="WARN"></xs:enumeration>
          <xs:enumeration value="INFO"></xs:enumeration>
          <xs:enumeration value="DEBUG"></xs:enumeration>
          <xs:enumeration value="TRACE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>